.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2e6;
    border-bottom: 1px solid #f0faf0e7;
    width: 100%;
    height: 10vh;
    top: 0;
    position: sticky;
    z-index: 1000;
}


.head-left > img {
    width: auto;
    height: 10vh;
    margin-left: 0.5vw;
    cursor: pointer;
}

.head-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5vw;
}


.contact-btn > a >span {
    width: 10vh;
    height: 8vh;
    text-align: center;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    margin: 0 1vw ;
    font-weight: bolder;
    font-size: 1.5vh;
    color: #333333;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}


.menu-btn {
    width: 8vh;
    height: 8vh;
    text-align: center;
    border: 1px solid #333333;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    margin: 1vw;
    cursor: pointer;
}

.menu-btn > span:nth-of-type(2) {
    font-size: 1.5vh;
    font-weight: bold;
    color: #333333;
    font-family: 'Times New Roman', Times, serif;
}


.menu-btn.active {
    display: inline-flex;
    align-items: center;
}


.menu-btn.active > span {
    position: absolute;
}

.menu-btn.active > span:nth-of-type(1){
    border: 1px solid #484032e5;
    background-color: #484032e5;
    border-radius: 15%;
    padding: 2px 25px;
    margin: 5px;
    transform: rotate(45deg);
}

.menu-btn.active > span:nth-of-type(2) {
    display: none;
}

.menu-btn.active > span:nth-of-type(3){
    border: 1px solid #484032e5;
    background-color: #484032e5;
    border-radius: 15%;
    padding: 2px 25px;
    margin: 5px; 
    transform: rotateZ(-45deg);
}

@media (max-width: 768px) {
    /* タブレットや小さいデバイス用のスタイル */
    .menu-btn.active > span:nth-of-type(1),
    .menu-btn.active > span:nth-of-type(3) {
        padding: 1px 18px;
        margin: 5px;
    }
}

@media (max-width: 480px) {
    /* スマホ用のスタイル */
    .menu-btn.active > span:nth-of-type(1),
    .menu-btn.active > span:nth-of-type(3) {
        padding: 1px 18px;
        margin: 5px;
    }
}



.menu-contents {
    display: none;
    position: relative;
}

.sidebar {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #e8fcdbe4;
    color: #2C2C2C;
    transition: right 0.3s ease;
    z-index: 1000;
    font-size: min(3vw, 30px);
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar > ul > li:nth-of-type(1) {
    padding-top: 10vh;
}

.sidebar > ul > li:nth-of-type(5),
.sidebar > ul > li:nth-of-type(6),
.sidebar > ul > li:nth-of-type(7) {
    line-height: 1.5em;
    text-indent: 0.5em;
}

.menu-link {
    text-decoration: none;
    color: #2C2C2C;
}

.menu-contents.show {
    display: block;
}

.subtitle {
    color: #2C2C2C;
    font-size: 45px;
    padding-left: 40px;
    padding-top: 6em;
    margin-bottom: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}



@media (max-width: 768px) {
    /* タブレットや小さいデバイス用のスタイル */
    .subtitle {
        font-size: 20px;
        padding-left: 40px;
        padding-top: 7em;
        margin-bottom: 1em;
    }
}

@media (max-width: 480px) {
    /* スマホ用のスタイル */
    .subtitle {
        font-size: 15px;
        padding-left: 40px;
        padding-top: 7em;
        margin-bottom: 1em;
    }
}


.main {
    background-color: #f2f2e6;
    font-family: 'Times New Roman', Times, serif;
}

.shopname {
    background-image: url(./assets/img/music-5705801_1920.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 0 10px 0 10px;
}

.shopname > p {
    text-align: end;
    color: black;
    background-color: rgba(245, 244, 234, 0.624);
}

.shopname > p:nth-of-type(1) {
    font-size: min(8vw, 100px);
    padding: 50vh 15px 0 0;
}

.shopname > p:nth-of-type(2) {
    font-size: min(3vw, 30px);
    padding: 1vh 25px 3vh 0;
}


.aboutus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.message > p {
    color: #2C2C2C;
    font-size: min(2.5vw, 30px);
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1em;
    line-height: 2;
}


@media (max-width: 768px) {
    /* タブレットや小さいデバイス用のスタイル */
    .aboutus {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .message > p {
        font-size: min(3vw, 20px);
    }
}

@media (max-width: 480px) {
    /* スマホ用のスタイル */
    .aboutus {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .message > p {
        font-size: max(3vw, 10px);
        text-align: center;
    }
}



/* スライダー */

.slider-top,
.slider-bottom,
.slider-top .slick-initialized .slick-slider,
.slider-bottom .slick-initialized .slick-slider,
#no1 >.slider-top .slick-initialized .slick-slider > .slick-list > .slider-track
#no1 >.slider-bottom .slick-initialized .slick-slider > .slick-list > .slider-track {
    height: 370px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-top: 8px solid rgba(24, 24, 21, 0.997);
    border-bottom: 8px solid rgba(24, 24, 21, 0.997);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.822) 50%, rgb(255, 253, 247) 50%, rgb(248, 241, 219) 60%);
    background-size: 70px 100px;
    transition: none;
    margin: 0 10px;
}

.slider-top {
    margin-bottom: 0.1vh;
}

.slider-bottom {
    margin-top: 0.1vh;
}


.slider-top > li,
.slider-bottom > li {
    list-style: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.slider-top > li >img,
.slider-bottom > li > img,
.slick-slide > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 8px solid rgba(24, 24, 21, 0.997);
    background-color: rgba(24, 24, 21, 0.997);
    filter: grayscale(100%) sepia(30%);
    transition: filter 0.5s ease;
}



@media (max-width: 768px) {
    /* タブレットや小さいデバイス用のスタイル */
    .slider-top,
    .slider-bottom {
        height: 250px;
    }
    .slider-top > li >img,
    .slider-bottom > li > img,
    .slick-slide > img  {
        width: 180px;
        height: 180px;
        border: 7px solid rgba(24, 24, 21, 0.997);
    }
}

@media (max-width: 480px) {
    /* スマホ用のスタイル */
    .slider-top,
    .slider-bottom {
        height: 200px;
        border: 5px solid rgba(24, 24, 21, 0.997);
        background-size: 50px 100px;
    }
    .slider-top > li >img,
    .slider-bottom > li > img,
    .slick-slide > img  {
        width: 150px;
        height: 150px;
        border: 5px solid rgba(24, 24, 21, 0.997);
    }
}

.pro-link {
    font-size: min(5vw, 25px);
    margin: 15px 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.pro-link > a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}


.tile-line,
.tile-line .slick-initialized .slick-slider,
#no2 > .tile-line .slick-initialized .slick-slider > .slick-track {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 3px;
    width: 94%;
    margin: 0 auto;
    padding-bottom: 100px;
}


@media (max-width: 768px) {
    .tile-line,
    .tile-line .slick-initialized .slick-slider,
    .slick-track {
        display: flex;
        flex-wrap: nowrap; /* これを追加 */
        overflow-x: scroll; /* 横スクロールを許可 */
        white-space: nowrap;
    }
    .tile {
        min-width: 100%; /* これを追加 */
    }
}

@media (max-width: 480px) {
    .tile-line,
    .tile-line .slick-initialized .slick-slider,
    .slick-track {
        flex-wrap: nowrap; /* これを追加 */
        overflow-x: scroll; /* 横スクロールを許可 */
        white-space: nowrap;
    }
    .tile {
        min-width: 100%; /* これを追加 */
    }
}


.tile-line .slick-slide {
    transform: scare(0.8);
    transition: all, 0.5s ease;
    opacity: 60;
}

.tile-line .slick-slide .slick-center {
    transform: scale(1);
    opacity: 1;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    height: 15px;
    width: 15px;
}

.slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -1.5%;
    transform: rotate(45deg);
}

.slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background: #ccc;
}

.slick-dots .slick-active button {
    background: #333;
}




.tile,
.tile .slick-slide .slick-cloned {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: calc(33.333% - 16px);
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.84);
    text-decoration: none;
    min-width: 20vw;
    max-height: 50vh;
    padding: 5px;
    height: 100%;
}

.tile > a,
.tile .slick-slide .slick-cloned > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    text-decoration: none;
}


.tile > a > h3 {
    color: black;
    font-size: min(5vw,25px);
    text-decoration: underline;
    line-height: 2em;
}


.tile > a > img,
.tile .slick-slide .slick-cloned > a > img {
    width: auto;
    max-width: 200px;
    height: 250px;
    margin: 1em;
    filter: grayscale(100%);
}


.tile > a > p {
    font-size: min(1vw, 25px);
    padding: 1em;
    color: black;
    text-emphasis: none;
}



@media (max-width: 768px) {
    /* タブレットや小さいデバイス用のスタイル */
    .tile,
    .tile .slick-slide .slick-cloned {
        min-width: 45vw;
    }
    .tile > a > img,
    .tile .slick-slide .slick-cloned > a > img {
        height: 25vh;
    }

    .tile > a > p {
        font-size: min(3vw, 20px); 
        padding: 1em;
    }
}

@media (max-width: 480px) {
    /* スマホ用のスタイル */
    .tile {
        min-width: 50vw;
    }

    .tile > a > img,
    .tile .slick-slide .slick-cloned > a > img {
        max-width: 50vw;
        height: 25vh;
    }
    .tile > a > h3 {
        font-size: min(5vw,15px);
        line-height: 1.5em;
    }
    .tile > a > img {
        margin: 0.5em;
    }
    .tile > a > p {
        font-size: min(3vw, 20px); 
        padding: 1em;
    }
}



.footer {
    height: 800px;
    background-color: #bfdab7;
    align-content: flex-end;
}

@media (max-width: 768px) {
    /* タブレットや小さいデバイス用のスタイル */
    .footer {
        height: 1000px;
    }
}

@media (max-width: 480px) {
    /* スマホ用のスタイル */
    .footer {
        height: 1000px;
    }
}




.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    /* タブレットや小さいデバイス用のスタイル */
    .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px) {
    /* スマホ用のスタイル */
    .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}




.footer-left > a > img {
    width: 350px;
    height: 350px;
    margin: 50px 0 0 30px;
}

@media (max-width: 768px) {
    /* タブレットや小さいデバイス用のスタイル */
    .footer-left > a > img {
        width: 100px;
        height: 100px;
        margin: 10px 0 0 20px;
    }
}

@media (max-width: 480px) {
    /* スマホ用のスタイル */
    .footer-left > a > img {
        width: 100px;
        height: 100px;
        margin: 10px 0 0 10px;
    }
}


.footer-middle {
    font-size: min(2.5vw, 30px);
    line-height: 1.5em;
    padding: 60px 20px;
    margin: 0 50px 0 50px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-middle > h2 {
    margin: 5px 0 30px 0;
}

.footer-middle > ul > li > a {
    color: #2C2C2C;
    font-size: min(2.6vw, 35px)
} 

@media (max-width: 768px) {
    /* タブレットや小さいデバイス用のスタイル */
    .footer-middle {
        padding: 20px 0 0 10px;
        margin: 0 0 0 0;
        text-align: center;
    }
    .footer-middle > h2 {
        margin: 0 0 15px 0;
    }
    .footer-middle > ul > li > a {
        line-height: 1.5em;
    } 
}

@media (max-width: 480px) {
    /* スマホ用のスタイル */
    .footer-middle {
        padding: 20px 5px 5px 10px;
        margin: 0 0 0 0;
        text-align: center;
    }
    .footer-middle > h2 {
        font-size: 18px;
        margin: 0 0 15px 0;
    }
    .footer-middle > ul > li > a {
        line-height: 1.5em;
        font-size: min(4vw, 20px);
    } 
}


.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 0 0;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}


@media (max-width: 768px) {
    /* タブレットや小さいデバイス用のスタイル */
    .footer-right {
        padding: 40px 0 0 0;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    /* スマホ用のスタイル */
    .footer-right {
        padding: 30px 0 0 0;
        margin-right: 0;
    }
}


.footer-right > h2 {
    font-size: min(2vw, 25px);
    padding-bottom: 5px;
    margin: 10px 10px 30px 0;
}

iframe {
    width: 300px;
    height: 250px;
    border-radius: 3%;
    filter: grayscale(70%);
}


.info {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: min(2vw,25px);
}

.address {
    padding: 10px;
    margin-bottom: 30px;
    line-height: 1.2em;
}

.address > p:nth-of-type(2) {
    padding: 0.3em 0 0.5em 13px;
}

.address > p:nth-of-type(3),
.address > p:nth-of-type(4) {
    padding-left: 13px;
}



@media (max-width: 768px) {
    /* タブレットや小さいデバイス用のスタイル */
    .footer-right > h2 {
        font-size: 18px;
        margin: 0 10px 15px 0;
    }
    iframe {
        width: 280x;
        height: 230px;
    }
    .info {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    /* スマホ用のスタイル */
    .footer-right > h2 {
        font-size: 18px;
        margin: 0 10px 15px 0;
    }
    iframe {
        width: 300px;
        height: 250px;
    }
    .info {
        font-size: 15px
    }
}

.highlight {
    border: 3px solid yellow;
    font-size: larger;
}


.footer > .brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fa-brands {
    font-size: 40px;
    padding: 7.5px 20px;
    color: #333333;
}

.footer > p {
    text-align: center;
    padding: 20px 0 20px 0;
    color: #333333;
}

@media (max-width: 768px) {
    /* タブレットや小さいデバイス用のスタイル */
    .fa-brands {
        font-size: 40px;
        padding: 0 10px;
    }
    .footer > p > small {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    /* スマホ用のスタイル */
    .fa-brands {
        font-size: 25px;
        padding: 5px 10px;
    }
    .footer > p > small {
        font-size: 5px;
    }
}
